<form action="/client/register" method="post">
    <h3>Register below</h3>
    <label for="client-name">Name</label>
    <input placeholder="Please enter your name" name="client">

    <button type="submit">Submit</button>
</form>